<!DOCTYPE html>
<html>
<head>
	<title>Stem Curriculum</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="curriculum.css">
<div><h1 class= "heading">STEM curriculum</h1></div>
<h2 class="heading">Lesson 1  : Conductors, Insulators and electric circuit</h2>
<div><ul>
	<li>Conductors & insulator and electrical circuit</li>
	<li>what is a conductor? </li>
	<li>What is an insulator?</li>
	<li>Electronics and electric circuit</li>
	<li class="box">Assesment: Draw a simple circuit</li>
</ul></div>


<div><h2 class="heading">Lesson 2 :Voltage , Current and Resistance</h2></div>
<div><ul>
	<li>What is electric current , voltage and electrical resistance ?</li>
	<li>identify a resistor</li>
	<li>how to calculate the resistance of resistor using colour code</li>
	<li class="box">Assesment :calculate the resistance of a sample resistor</li>
</ul></div>

<div><h2 class="heading">Lesson 3 :Ohms law and LED basis</h2></div>
<div><ul>
	<li>Relationship between voltage , current and resistance</li>
	<li>how to light up an LED</li>
	<li>Identify an LED</li>
	<li class="box">Assesment: Build an electric circit consisting of an LED and resistor</li>
</ul></div>

<div><h2 class="heading">Lesson 4 :Electronics components</h2></div>
<div><ul>
	<li>Switches: types, what they are used for.</li>
	<li>Motors: DC motors, Servo motors</li>
	<li>Batteries , Breadboard , printed-circuit board</li>
	<li>leds, displays (lcd , 7segment display</li>
	<li>wires, connectors ,meters(voltmeter ,Ammeter, Ohmeter), buzzers ,</li>

	<li class="box">Assesment:identify different electronic components</li>
</ul></div>

<div><h2 class="heading">Lesson 5:Sensors and Transducers</h2></div>
<div><ul>
	<li>what are sensors?</li>
	<li>what are transducers</li>
	<li>Types of sensors and transducers</li>
	<li>Analog and Digital Sensors</li>
	<li class="box">Assesment: what is a sensor , what is a transducer?</li>
</ul></div>


<div><h2 class="heading">Lesson 6:Robotics</h2></div>
<div><ul>
	<li>Introduction to Robotics</li>
	<li>What is a Robot?</li>
	<li>Classsification of Robots</li>
	<li>Basic components/ system  of a robot</li>
	<li>Applications of Robotics</li>
	<li>Building a Robot</li>
	<li class="box">Assesment: Build a line follower robot car</li>
</ul>
	
</div>


</body>
</html>